.sign-up-link {
    background-color: #ffd700;
    box-shadow: 0 5px 0 #b69c0c;
    color: black;
    padding: 1em 1.5em;
    position: relative;
    text-decoration: none;
    margin: auto;
    display: block;

}
.sign-up-link:hover {
    background-color: #ffffff;
  }
  

  .sign-up-link:active {
    box-shadow: none;
    top: 5px;
  }